@import "css/font-awesome.css"
@import "css/footer.css"
@import "css/doc.css";
@import "css/default.css";
@import "css/theme.css";

hdlist {
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.listingblock > .content > * > code {
  font-color: #333333;
}

p strong,
td.content strong,
div.footnote strong {
  letter-spacing: inherit!important;
}