[flake8]
count = True
exclude =
    .git/,
    .idea/,
    auxiliary/,
    __pycache__/,
    css/,
    docs/,
    fonts/,
    sources/,
    tests/,
    themes/,
    venv/,
    .venv/
format = pylint
show-source = True
hang-closing = False
max-line-length = 120
indent-size = 4
disable-noqa = True
statistics = True
tee = False
per-file-ignores =
    utilities/scripts/__init__.py:F401